.famousSong {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
  gap: 10px;
}
.song {
  width: 30%;
}
.imgBox {
  width: 100%;
  height: 180px;
}
.imgBox img {
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}



