
.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}
.color{
    width: 120px;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 5px;
}

p{
    color:#fff;
    font-size: 12px;
}
h3{
    color:#fff;
    font-weight: bolder;
}