.content{
    margin-left: 250px;
    padding: 100px 60px;
    overflow: auto;
    height:65vh;
    scroll-behavior: smooth;
    
}

@media screen and (max-width:768px) {
    .content{
        margin-left: 70px;
    }
    
}