<div>
  <div></div>
  <div class="list">
    <div class="song" *ngFor="let song of topSongs; let i = index">
      <div class="rank">
        <h3 class="effect">{{ i + 1 }}</h3>
      </div>
     
      <i class="far fa-window-minimize"></i>
      <div class="imgBox">
        <div class="overlay">
          <app-change-current-song
            [data]="song"
          ></app-change-current-song>
        </div>

        <img [src]="song.img" alt="anh nay bi loi" />
      </div>
      <div class="description">
        <h4>{{ song.name }}</h4>
        <p>{{ song.singer }}</p>
      </div>
      <div class="action">
        <app-add-fav-song [data]="song"></app-add-fav-song>
      </div>
    </div>
  </div>
</div>
