* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
}

.bottombar {
  position: absolute;
  height: 110px;
  bottom: 0;
  display: flex;
  padding: 10px;
  width: 100%;
  z-index: 4;
  background-color: rgb(23, 15, 35);
}
.left {
  display: flex;
  align-items: center;
  min-width: 295px;
}
.right {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: flex-end;
}
.cd {
  margin: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  background-size: cover;
  border: 2px solid rgb(211, 211, 211);
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
/* .cd.playing {
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
} */
.action {
  display: flex;
}
.action i {
  margin-top: 10px;
}
.fa-heart:hover {
  color: crimson;
}
.fa-heart::before {
}
.musicList {
  padding: 12px;
  background-color: rgba(241, 233, 233, 0.2);
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
  animation-name: fadeToAppear;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}
.right .fa-music:hover {
  background-color: rgba(241, 233, 233, 0.3);
}

.center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button{
  position: relative;
}
.button i {
  font-size: 16px;
  margin: 10px 20px 10px 10px;
}
.circle-icon {
  border: 1px solid #fff;
  padding: 12px 12px 12px 14px;
  border-radius: 50%;
}
.pauseBtn{
  padding: 12px 12px 12px 14px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 90px;
  visibility: hidden;
}
.progress {
  width: 60%;
  height: 5px;
}
.duration {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  margin: 0 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeToAppear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .bottombar{
    height: 90px;
  }
  .cd {
    margin-right: 40px;
    width: 75px;
    height: 75px;
  }
  .button i{
    font-size: 12px;
  }
}
