<div class="container">
  <div class="main">
    <div class="img">
      <div class="imgBox">
        <img
          src="../../../assets/images/logo-dark.svg"
          alt=""       
        />
      </div>
    </div>
    <div class="form">
      <h3> Login</h3>
      <form
        action=""
        [formGroup]="loginForm"
        (ngSubmit)="submitForm()"
        novalidate
      >
        <div class="form-group">
          <input type="text" class="form-control" formControlName="email" placeholder="Tên đăng nhập" />
          <small
            *ngIf="Username?.errors?.required && Username?.touched"
            class="error"
            >Hãy nhập tên đăng nhập</small
          >
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Mật khẩu"
          />
          <small
            *ngIf="Password?.errors?.required && Password?.touched"
            class="error"
            >Hãy nhập mật khẩu</small
          >
        </div>
        <div class="submit">
          <button [disabled]="!loginForm.valid" class="btnSubmit">LOGIN</button>
          <div class="loader "></div>
        </div>       
        <small class="error" *ngIf="errorMessage">{{ errorMessage }}</small>
      </form>
      
      <p class="signup"><a routerLink='/signup'>Create Account?</a></p>
    </div>
  </div>
</div>
