<div class="sidebar">
  <div class="brand">
    <img src="../../../assets/images/logo-dark.svg" alt="" />
  </div>
  <div class="options">
    <ul>
      <li routerLink="/mymusic">
        <i class="far fa-music"></i> <span> My music</span>
      </li>
      <li routerLink="">
        <i class="fas fa-compact-disc"></i><span>Explore</span>
      </li>
      <li routerLink="music-chart">
        <i class="fas fa-chart-line"></i> <span>Zing chart</span>
      </li>
      <li routerLink="/signup"><i class="fas fa-podcast"></i> <span>Radio & Post Cast</span></li>
      <li><i class="fas fa-user-chart"></i> <span>Follow</span></li>
    </ul>
    <hr />
    <ul>
      <li><i class="fas fa-music"></i> <span> My music</span></li>
      <li><i class="fas fa-music"></i> <span>Explore</span></li>
      <li><i class="fas fa-music"></i> <span>Zing chart</span></li>
      <li><i class="fas fa-music"></i> <span>Radio & Post Cast</span></li>
    </ul>
  </div>
</div>
