<div class="sidebar">
  <div class="brand">
    <img src="../../../assets/images/logo-dark.svg" alt="" />
  </div>
  <div class="options">
    <ul>
      <li routerLink="/mymusic">
        <i class="far fa-music"></i> <span>Nhạc yêu thích</span>
      </li>
      <li routerLink="">
        <i class="fas fa-compact-disc"></i><span>Khám phá</span>
      </li>
      <li routerLink="music-chart">
        <i class="fas fa-chart-line"></i> <span>Bảng xếp hạng</span>
      </li>
      <li routerLink="singerFollow" ><i class="fas fa-podcast"></i> <span>Ca Sĩ Theo dõi</span></li>
    </ul>
    <hr />
    <ul class="notDone">
      <li><i class="fas fa-music"></i> <span>Thêm</span></li>
      <li><i class="fas fa-music"></i> <span>Thêm</span></li>
      <li><i class="fas fa-music"></i> <span>Thêm</span></li>
      <li><i class="fas fa-music"></i> <span>Thêm</span></li>
      <li><i class="fas fa-music"></i> <span>Thêm</span></li>
    </ul>
  </div>
</div>
