<div class="sidebar">
    <div class="brand">
        <img src="../../../assets/images/logo-dark.svg" alt="">

    </div>
    <div class="options">
        <ul>
            <li routerLink="/mymusic"><i class="far fa-music "  ></i>My music</li>
            <li routerLink=""><i class="fas fa-compact-disc" ></i>Explore</li>
            <li routerLink="music-chart"><i class="fas fa-chart-line"></i>Zing chart</li>
            <li><i class="fas fa-podcast"></i>Radio & Post Cast</li>
            <li><i class="fas fa-user-chart"></i>Follow</li>
        </ul>
<hr>
        <ul>
            <li><i class="fas fa-music"></i>My music</li>
            <li><i class="fas fa-music"></i>Explore</li>
            <li><i class="fas fa-music"></i>Zing chart</li>
            <li><i class="fas fa-music"></i>Radio & Post Cast</li>
            
        </ul>
    </div>
</div>