
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    background-color: rgba(150, 150, 150, 0.1);
    width: 250px;
    color: rgba(196, 196, 196, 0.986);
    position: absolute;
    height: 85%;
    overflow: scroll;
}
/* .sidebar::before{
    height: 200px;
    width: 200px;
    background-color: gold;
    top: 20px;
    height: 0;
} */
.brand{
    padding: 20px 20px 0 30px;
}
hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(156, 156, 156);
    border: 0 none;
    color: rgb(172, 172, 172);
    height: 1px;
    opacity: 0.5;
}
ul {
    list-style: none;
}
ul li{
    width: 100%;
    padding:15px 25px;
   
}
ul li i{
    margin-right: 15px;
    width: 25px;
    font-size: 20px;
}

ul li:hover{
    color: #fff;
    background-color: rgba(201, 201, 201, 0.1);
}
.notDone li:hover{
    cursor: not-allowed;
}
span{
    font-weight: bolder;
}
@media screen and (max-width:768px) {
    .sidebar{
        width: 70px;
        overflow: hidden;
    }
    .sidebar li span{
        display: none;
    }
    .sidebar ul li{
        padding: 20px 25px;
    }
    hr{
        margin-top: 20px;
    }
    
}