<div class="container">
  <div class="main">
    <div class="img">
      <div class="imgBox">
        <img src="../../../assets/images/logo-dark.svg" alt="" />
      </div>
    </div>
    <div class="form">
      <h3>Create Account</h3>
      <form
        action=""
        [formGroup]="signUpForm"
        (ngSubmit)="submitForm()"
        novalidate
      >
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="username"
            placeholder="Tên của bạn"
          />
          <small
            *ngIf="UserName?.errors?.required && UserName?.touched"
            class="error"
            >Hãy nhập tên của bạn</small
          >
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Tên đăng nhập"
          />
          <small *ngIf="Email?.errors?.required && Email?.touched" class="error"
            >Hãy nhập tên đăng nhập</small
          >
        </div>

        <div class="form-group">
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Mật khẩu"
          />
          <small
            *ngIf="Password?.errors?.required && Password?.touched"
            class="error"
            >Hãy nhập mật khẩu</small
          >
        </div>
        <div class="submit">
          <button
            class="btnSubmit"
            [disabled]="Password?.errors || UserName?.errors || Email?.errors"
          >
            Create
          </button>
          <div class="loader"></div>
        </div>

        <small class="error" *ngIf="errorMsg">{{ errorMsg }}</small>
      </form>
    </div>
  </div>
</div>
<swal #popUpSwal width="300px" background="rgb(49, 5, 68) "> </swal>
